@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    padding: 32px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.purple {
    color: #6415ff;
}



/* nav */

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__wrapper {
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 24px;
    color: #243e63;
    text-decoration: none;
    margin-right: 0 24px 0;
    padding: 0 4px 0 0;
}

.logo {
    height: 40px;
    width: 40px;
    margin: 0 24px 0 0;

}

.nav__link--list {
    display: flex;
    list-style: none;
}



.nav__link--anchor {
    text-decoration: none;
    color: #243e63;
    font-size: 14px;
    font-weight: 700;
    margin: 0 24px;
    padding-bottom: 4px;
}

.login {
    margin-left: 48px;
}

.sign__up--nav {
    background-color: #6415ff;
    color: #fff;
    padding: 12px 32px;
    border-radius: 9999px;
    margin: 0;
}

.sign__up--nav:hover {
    background-color: #6315ffd7;
    transition: all 300ms ease;
}

.link__hover-effect:hover {
    border-bottom: 2px solid #6415ff;

    color: #6415ff;

}

/* header */

.header__container {
    padding: 96px 0;
    display: flex;
    flex-direction: row;
    align-items: center;


}

.header__cont--left {
    width: 40%;
    text-align: left;
}

.header__title {
    font-size: 48px;
    color: #243e63;
}

.header__para {
    font-size: 18px;
    color: #243e63;
    margin: 32px 0;
}

.header__cont--right {
    width: 60%;
}

/* CTA  */

input {
    background-color: #fff;
    padding: 20px 192px 20px 32px;
    font-size: 100%;
    font-weight: 500;
    border-radius: 50px;
    border-color: #A0Aec0;
    border-width: 1px;
    padding-right: 100px;
    width: 100%;

}

input:focus {
    outline: none;
}

input::placeholder {
    color: #A0Aec0;
}

.header__btn {
    background-color: #6415ff;
    border: 0px;
    border-radius: 50px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    padding: 15px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.header__action {
    position: relative;
    display: inline-block;
    width: 80%;


}

.header__btn:hover {
    background-color: #5212d2;
    transition: all 300ms ease;
}



/* header customers */

.header__customers {
    margin-top: 80px;
}

.header__customers {
    font-size: 12px;
    color: #A0Aec0;
}

.header__img {
    max-width: 100%;
    margin-top: 16px;
    padding-right: 128px;
}

.header__illustration--img {
    max-width: 100%;
    max-height: 100%;
}

/* features */



.features__cont--three {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
    margin: 0 auto;
}

.features__sub-header {
    font-size: 16px;
    margin-bottom: 16px;
    text-align: center;
}

.features__heading {
    font-size: 48px;
    font-weight: 900;
    color: #243e63;
    text-align: center;
}

.features__para {
    font-size: 18px;
    color: #7c8ba1;
    margin-top: 16px;
    max-width: 60%;
    width: 100%;
    text-align: center;
}

.features__spacer {
    margin-top: 48px;
    width: 100%;
}

/* services container */



.services {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;




}

.service__img--wrapper {
    padding: 20px;
    border: 1px solid #e5e7eb;
    height: 66px;
    text-align: center;
    border-radius: 9999px;
    flex-shrink: 0;
}

.service__img {
    width: 24px;
    height: 24px;
}

.service {
    display: flex;

    width: calc(100% / 3);
    padding-bottom: 36px;
    padding-top: 36px;

}

.service__description {
    display: flex;
    flex-direction: column;

    margin: 8px 0 0 16px;
}

.service__title {
    font-size: 24px;
    color: #243e63;
}

.service__para {
    margin-top: 16px;
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    max-width: 240px;
    text-align: left;
}

/* quality work section */

.quality__cont--two {
    display: flex;
    flex-direction: row-reverse;
    padding: 80px 0;


}

.quality__img--wrapper {
    width: 50%;
    border: 1px solid #7c8ba14b;
    display: flex;
    align-items: center;
}

.quality__img {
    max-width: 100%;

}

.quality__info--cont {
    display: flex;
    flex-direction: column;

    width: 50%;
    padding: 32px 0;
    margin-right: 24px;
}

.quality__sub--title {
    font-size: 16px;
    font-weight: 500;
}

.quality__title {
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
}

.quality__para {
    font-size: 18px;
    font-weight: 500;
    max-width: 75%;
    color: #7c8ba1;
    margin-top: 16px;
}

.quality__button {
    background-color: #6415ff;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    margin-top: 32px;
    padding: 16px 36px;
    border: none;
    border-radius: 50px;
}

.quality__button:hover {
    background-color: #5212d2;
    transition: all 300ms ease;
}

/* steps section */

.steps__cont--two {
    display: flex;
    align-items: center;
    padding: 80px 0;
    max-height: 100vh;
}

.steps__img--wrapper {
    width: 50%;
}

.steps__img {
    width: 100%;
}

.steps__info--container {
    margin-left: 48px;
    width: 50%;
}

.steps__content {
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.steps__subheading {
    font-size: 16px;
    font-weight: 500;
}

.steps__title {
    font-size: 48px;
    color: #243e63;
    margin-top: 16px;
}

.steps__container {
    margin-top: 18px;

}



.step {
    display: flex;
    justify-content: flex-start;
    margin-top: 32px;
}

.step__number {
    font-size: 36px;
    color: #cbd5e0;


}

.step__info {
    margin-left: 24px;
}

.step__title {
    font-size: 20px;
    color: #243e63;
}

.step__para {
    margin-top: 12px;
    font-size: 14px;
    font-weight: 500;
    color: #718096;
    max-width: 80%;
}

/* values section */

.values__cont--two {
    display: flex;
    flex-direction: row-reverse;
    padding: 80px 0;
}

.values__img--wrapper {
    width: 50%;
    display: flex;
    align-items: center;
}

.values__img {
    width: 100%;
}

.values__info--cont {
    width: 50%;
    margin-right: 64px;
}

.values__info {
    padding: 32px 0;
}

.values__subheader {
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}

.values__title {
    font-size: 48px;
    font-weight: 900;
    color: #243e63;
    margin-top: 16px;
}

.values__para {
    font-size: 18px;
    color: #7c8ba1;
    margin-top: 32px;
}

.value__items--container {
    display: flex;
}

.values__item {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    align-items: flex-start;
}

.afford__item {
    margin-right: 32px;
}

.values__item--title {
    display: flex;
    justify-content: center;
}

.value__item--para {
    font-size: 16px;
    color: #718096;
    margin-top: 16px;
}

.afford__icon--cont {
    background: #60d262;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 8px;
    padding: 8px;
}

.pro__icon--cont {
    background: #d26060;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 8px;
    padding: 8px;
}

.fa-solid {
    color: #29374d;

}


.value__item--header {
    font-size: 20px;
    color: #243e63;
    margin-left: 12px;
    font-weight: 700;

}

.values__btn {
    margin-top: 48px;
    padding: 20px 36px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    background-color: #6415ff;
    border: none;
    border-radius: 50px;
}

.values__btn:hover {
    background-color: #5212d2;
    transition: all 300ms ease;
}

/* pricing */

.pricing__container {
    padding: 80px 0;
}

.pricing__info__cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pricing__info--sub {
    font-size: 16px;
    margin-bottom: 16px;
}

.pricing__info--header {
    font-size: 48px;
    color: #243e63;
    font-weight: 900;
}



.pricing__info--para {
    font-size: 18px;
    color: #7c8ba1;
    margin-top: 16px;
    text-align: center;
    max-width: 50%;
}

/* PLANS */

.plans__cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}



.business__plan {

    background: #6415ff;
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
    margin-top: 64px;
    margin-right: 10px;
    padding: 8px 32px 0;
    border: 2px solid #dbdddf97;
    border-radius: 8px;
    max-width: 380px;
}

.plan__header--info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px 0;
}

.white__text {
    color: white !important;
}

.name {
    font-size: 20px;
    font-weight: 700;
    color: #1a202c;
}

.price {
    font-size: 48px;
    font-weight: 700;
    color: #1a202c;
    margin: 4px 0;
}

.duration {
    font-size: 16px;
    font-weight: 700;
    color: #A0Aec0;
}

.plan__features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
    border-top: solid 2px #dbdddf97;
    border-bottom: solid 2px #dbdddf97;

}

.feature__title {
    font-size: 20px;
    font-weight: 700;
    color: #1a202c;
}

.feature {
    font-size: 16px;
    font-weight: 500;
    color: #718096;
    margin-top: 20px;
}

.three__plans--btn {
    display: flex;
    justify-content: center;
    padding: 32px 64px;
}

.plan__btn {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    padding: 20px 48px;
    border: none;
    border-radius: 999px;
}

.personal__btn {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);

}

.personal__btn:hover {
    background: linear-gradient(115deg, rgb(56, 178, 172) 100%, rgb(129, 230, 217) 0%);
    transition: all 300ms ease;
}

.business__btn {
    background-color: #f7fafc;
    color: #6415ff;
}

.business__btn:hover {
    background-color: #e0edf5;
    transition: all 300ms ease;

}

.enterprise__btn {
    background: linear-gradient(115deg, #c62f2f 0%, rgb(238, 182, 175) 100%);
}

.enterprise__btn:hover {
    background: linear-gradient(115deg, #c62f2f 100%, rgb(238, 182, 175) 0%);
    transition: all 300ms ease;
}

/* testimonials */

.testimonial__container {
    padding: 80px 0;

}

.testimonial__cont--two {
    display: flex;
    align-items: center;
}

.testimonial__img--wrapper {
    width: 50%;
}

.testimonial__img {
    width: 100%;
}

.testimonial__info--container {
    width: 50%;
    padding-left: 64px;
}

.testimonial__info--sub {
    font-size: 16px;
    color: #6415ff;
}

.testimonial__info--title {
    color: #243e63;
    font-size: 48px;
    font-weight: 900;
    margin-top: 24px;
}

.testimonial__info--para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    margin-top: 24px;
}

.ratings__container {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.fa-star {
    margin-right: 4px;
    color: #ffd700;
}

.ratings__sub {
    font-size: 20px;
    font-weight: 700;
    color: #243e63;
    margin-top: 20px;
}

.ratings__para {
    font-size: 16px;
    font-weight: 500;
    color: #4a5568;
    margin-top: 16px;
    margin-bottom: 40px;
}

.review {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;

}

.review__img--container {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
}

.review__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.review__description--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reviewer__name {
    font-size: 20px;
    color: #243e63;
}

.reviewer__job {
    font-size: 16px;
    color: #7c8ba1;
    font-weight: 500;
}

.review__scroll {
    margin-right: 8px;
}



.fa-caret-left {
    font-size: 24px;
    color: #6415ff;
    padding: 8px;

}

.fa-caret-right {
    font-size: 24px;
    color: #6415ff;
    padding: 8px;
}

.review__arrow {
    text-decoration: none;


}

/* FAQ */

.faqs__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

.faqs__header--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faqs__subheader {
    font-size: 16px;
    color: #6415ff;
    font-weight: 700;
    margin-bottom: 16px;
}

.faqs__header {
    font-size: 48px;
    color: #243e63;
    font-weight: 900;
}

.faqs__header--info {
    font-size: 18px;
    font-weight: 700;
    color: #7c8ba1;
    margin-top: 16px;
    margin-bottom: 36px;
    width: 60%;
    text-align: center;
}

.faq__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px 40px;
    margin-top: 20px;
    background: #edf2f7;
    border-radius: 8px;
    max-width: 900px;
}

.faq__content:hover {
    background: #dee3e9;
    transition: all 300ms ease;
}

.faq__content--header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.faq__title {
    font-size: 20px;
    color: #2d3748;
}

.faq__info {
    margin-top: 16px;
    font-size: 16px;
    color: #2d3748;


}

.faq__arrow {
    background: none;
    border: none;
}

.fa-angle-down {
    font-size: 20px;
    color: #6415ff;
}

/* footer */

.footer__container {
    padding: 60px;

}

.footer__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    
}

.footer__link {
    display: flex;
    flex-direction: column;
    width: calc(100% / 5);
    align-items: center;
    margin-top: 36px;
}

footer {


    background-color: rgba(100, 21, 255);
}

.link__title {
    font-size: 16px;
    color: #f7fafc;
    margin-bottom: 12px;
}

.link__name {
    margin-top: 12px;
    color: #f7fafc;
    text-decoration: none;
    font-weight: 500;
}

.footer__bottom--info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 56px;
    
    
}

.footer__logo--wrapper {
    display: flex;
    border: 2px solid #f7fafc;
    background-color: #f7fafc;
    border-radius: 4px;
}

.footer__logo {
    height: 32px;
    width: 32px ;   
}

.footer__copyright {
    color: #f7fafc;
    font-weight: 500;
}


.footer__icons {
    display: flex;
}

.footer__icon {
    margin-left: 8px;
    background: #f7fafcf4;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    padding: 8px;
}

.fa-facebook-f, .fa-twitter, .fa-youtube {
    color: #6415ff;
}

/* menu button */

.btn__menu {
    background-color: transparent;
    font-size: 36px;
    text-align: center;
    border: none;
    color: #A0Aec0;
    display: none;
}

.menu__backdrop {
    position: absolute;
    background-color: #f7fafc;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: all 300ms ease;
    opacity: 0;
}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
}

.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}


.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.menu__list {
    font-size: 24px;
    padding: 32px 0;
    list-style: none;
    
}

.menu__link {
    color: #6415ff;
    text-decoration: none;
    font-weight: 500;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: #A0Aec0;
}

/* responsive properties */

@media (max-width: 768px) {
    .btn__menu {
        display: block;
    }

    .nav__link--list {
        display: none;
    }

    .header__container {
        flex-direction: column;
    }
}